@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Font */
  --font-righteous: "Righteous", serif;
  --font-saira: "Saira", sans-serif;

  /* Font Size */
  --font-80: 80px;

  /* Line Height */
  --line-height-90: 90px;

  /* colors */
  --brand-blue: #4883ff;
  --brand-black: #323232;
  --brand-gray: #4e596b;
  --brand-black-2: #324361;
  --brand-dark-blue: #0e38cd;
  --brand-gray-2: #7e7eaa;
}

body {
  font-family: var(--font-righteous) !important;
}

.gradient-bg {
  background-image: linear-gradient(36deg, #4a16bd, #04016c);
}

.gradient-blue-bg {
  background-image: linear-gradient(to top, #d9ecff, rgba(240, 243, 255, 0));
}

.font-saira {
  font-family: var(--font-saira);
}

.brand-gray-2 {
  color: var(--brand-gray-2);
}

.brand-black-2 {
  color: var(--brand-black-2);
}

.brand-dark-blue {
  background-color: var(--brand-dark-blue);
}

.brand-dark-blue-text {
  color: var(--brand-dark-blue);
}

/* Hero */

.btn-gradient-bg {
  background-image: linear-gradient(108deg, #04016c, #4a16bd);
}

.linear-blur-hero {
  background-color: #fff;
  filter: blur(200px);
  height: 500px;
  width: 500px;
  right: 0;
}

/* Featured Courses */
.brand-blue {
  color: var(--brand-blue);
}

.brand-black {
  color: var(--brand-black);
}

.brand-gray {
  color: var(--brand-gray);
}

.rounded-20 {
  border-radius: 20px;
}

.text-22 {
  font-size: 22px;
}

.shadow-card {
  box-shadow: 0px 4px 4px 0px rgba(217, 236, 255, 0.5);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(217, 236, 255, 0.5);
  -moz-box-shadow: 0px 4px 4px 0px rgba(217, 236, 255, 0.5);
}

/* why learn */
.gradient-image-bg {
  background-image: linear-gradient(
      36deg,
      rgba(74, 22, 189, 0.8),
      rgba(4, 1, 108, 0.8)
    ),
    url(./assets/img/why-learn-bg.png);
  background-size: cover;
  background-position: center bottom; 
  background-repeat: no-repeat;
}

/* subscribe */
.gradient-subscribe-bg {
  background-image: url(./assets/img/sub-gradient.png);
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* testimonials */
.padding-15 {
  padding: 10px 15px;
}

.footer-gradient {
  background-image: linear-gradient(
    to left bottom,
    #477ae3,
    #586adf,
    #6c58d8,
    #8041cd,
    #931bbd
  );
}

/* Footer */
.logo-color-burn {
  mix-blend-mode: multiply !important;
}
